<%- include('../layouts/boilerplate', {body: `

<h2>My Booking History</h2>
<% if(tickets.length > 0) { %>
    <div class="row">
    <% tickets.forEach(ticket => { %>
        <div class="col-md-6 mb-3">
            <div class="card">
                <div class="card-header bg-info text-white">
                    Booking ID: <%= ticket._id %>
                </div>
                <div class="card-body">
                    <h5 class="card-title"><%= ticket.showID.movieID.title %></h5>
                    <p class="card-text">
                        <strong>Theater:</strong> <%= ticket.showID.screenID.theaterID %><br> <strong>Screen:</strong> <%= ticket.showID.screenID.screenNumber %><br>
                        <strong>Date:</strong> <%= ticket.showID.showDate.toLocaleDateString() %> | <%= ticket.showID.showTime %><br>
                        <strong>Seats:</strong> <%= ticket.seatNumbers.join(', ') %><br>
                        <small class="text-muted">Booked on: <%= ticket.bookingDate.toLocaleDateString() %></small>
                    </p>
                </div>
            </div>
        </div>
    <% }) %>
    </div>
<% } else { %>
    <p>You haven't booked any tickets yet.</p>
<% } %>

`}) %>